.journal-sidebar .qjp-sort button {
  padding-top: 1px;
  padding-bottom: 1px;
  /*background-color: aqua;*/
  color: va(--button-text-color);
  font-family: var(--font-sans);
  font-size: var(font-size-14);
}